.homePageContainer{
    background: #151515;
    color: #fff;
    overflow: hidden;
    padding-top: 100px;
    flex: 1;
    max-width: 100%;
    
    /* margin-bottom: 100px; */
}

.homePage{
    background: #151515;
    color: #fff;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}